.table-container {
  margin: auto;
  padding: 75px 175px 75px 175px;
}

tr.mapping-row:hover {
  background: gray;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
  
}

.tool-bar-styling{
  background: blue;
}

tr.example-detail-row {
  height: 0;
}


.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-row td {
  border-bottom-width: 0;
}

