.full-field{
  width:100%
}

.half-field{

  width:50%
}

.add-btn{
  margin-bottom: 1rem;
}

.add-product-developer-delete{
  margin-left: 1rem;
  cursor: pointer;
}

mat-error{
  font-weight: 900;
}