<div class="table-container">
  <mat-toolbar class="toolbar-styling" color="accent">
    <div>Information Management Branch - Total Products: {{ productLength }}</div>
  </mat-toolbar>

  <br />

  <form [formGroup]="filterOptionsForm">
    <mat-form-field appearance="fill">
      <mat-label>Filter Scrum Master</mat-label>
      <input type="text" matInput formControlName="scrumMasterFilter" (keyup)="
          filterTable($event);
          this.filterOptionsForm.get('developerFilter')?.setValue('')
        " [matAutocomplete]="scrum" placeholder="" />
      <mat-autocomplete #scrum="matAutocomplete" (optionSelected)="
          filterTable($event);
          this.filterOptionsForm.get('developerFilter')?.setValue('')
        " hideSingleSelectionIndicator="true">
        <ng-container *ngIf="this.filterOptionsForm.value.scrumMasterFilter != ''">
          <mat-option *ngFor="let option of filteredListForScrumMaster | async" [value]="option">
            {{ option }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 2rem">
      <mat-label>Filter Developers</mat-label>
      <input type="text" matInput formControlName="developerFilter" (keyup)="
          filterTable($event);
          this.filterOptionsForm.get('scrumMasterFilter')?.setValue('')
        " [matAutocomplete]="develop" />
      <mat-autocomplete #develop="matAutocomplete" (optionSelected)="
          filterTable($event);
          this.filterOptionsForm.get('scrumMasterFilter')?.setValue('')
        " hideSingleSelectionIndicator="true">
        <ng-container *ngIf="this.filterOptionsForm.value.developerFilter != ''">
          <mat-option *ngFor="let option of filteredListForDevelopers | async" [value]="option">
            {{ option }}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

    <button class="button-styling" mat-raised-button (click)="resetFilters()">
      Reset Filters
    </button>
    <button class="button-styling" mat-raised-button (click)="addProduct()">
      Add Product
    </button>
  </form>

  <br />

  <table #table mat-table [dataSource]="tableData" class="mat-elevation-z24" multiTemplateDataRows>
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef>Product Number</th>
      <td mat-cell class="data-row" *matCellDef="let product">{{ product.productId }}</td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell class="data-row" *matCellDef="let product">{{ product.productName }}</td>
    </ng-container>

    <ng-container matColumnDef="productOwnerName">
      <th mat-header-cell *matHeaderCellDef>Product Owner</th>
      <td mat-cell class="data-row" *matCellDef="let product">{{ product.productOwnerName }}</td>
    </ng-container>

    <ng-container matColumnDef="developers">
      <th mat-header-cell *matHeaderCellDef>Developers</th>
      <td mat-cell class="data-row" *matCellDef="let product">{{ product.developers }}</td>
    </ng-container>

    <ng-container matColumnDef="scrumMasterName">
      <th mat-header-cell *matHeaderCellDef>Scrum Master</th>
      <td mat-cell class="data-row" *matCellDef="let product">{{ product.scrumMasterName }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell class="data-row" *matCellDef="let product">{{ product.startDate }}</td>
    </ng-container>

    <ng-container matColumnDef="methodology">
      <th mat-header-cell *matHeaderCellDef>Methodology</th>
      <td mat-cell class="data-row" *matCellDef="let product">{{ product.methodology }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell class="data-row" *matCellDef="let product; let index = dataIndex">
        <button mat-icon-button (click)="editProduct(product, index)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteProduct(product, index)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Edit Panel -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let product" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail" [@detailExpand]="
            product == expandedElement ? 'expanded' : 'collapsed'
          ">
          <form class="expansion-panel" [formGroup]="editProductForm" *ngIf="currentlyEditing">
            <div class="edit-field-row">
              <mat-form-field class="edit-box">
                <input matInput type="text" required formControlName="productName" (keyup)="checkValidText($event)" />
                <mat-hint>Product Name</mat-hint>
                <mat-error>Enter Product Name</mat-error>
              </mat-form-field>
              <mat-form-field class="edit-box">
                <input matInput type="text" required formControlName="productOwner" (keyup)="checkValidText($event)" />
                <mat-hint>Product Owner</mat-hint>
              </mat-form-field>
              <mat-form-field class="edit-box">
                <input matInput type="text" required formControlName="scrumMaster" (keyup)="checkValidText($event)" />
                <mat-hint>Scrum Master</mat-hint>
              </mat-form-field>
              <mat-form-field class="edit-box">
                <mat-select formControlName="methodology" required>
                  <mat-option value="Agile">Agile</mat-option>
                  <mat-option value="Waterfall">Waterfall</mat-option>
                </mat-select>
                <mat-hint>Methodology</mat-hint>
              </mat-form-field>


              <button mat-raised-button type="button" (click)="saveEditProduct(product)" class="edit-button-position">
                Save Changes
              </button>


            </div>
            <div class="edit-field-row">
              <ng-container formArrayName="developers">
                <ng-container *ngFor="
                    let developerForm of developers.controls;
                    let i = index
                  ">
                  <ng-container [formGroupName]="i">
                    <mat-form-field class="edit-box">
                      <input matInput formControlName="developers" required (keyup)="checkValidText($event)">
                      <mat-icon matSuffix *ngIf="this.developers.length>1" class="edit-developer-delete"
                        (click)="removeDeveloper(i);">remove_circle_outline</mat-icon>
                      <mat-hint>Developers</mat-hint>
                      <mat-error>Enter Developer Name</mat-error>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </ng-container>
              <button mat-raised-button (click)="editAddDeveloper()" type="button" [disabled]="developers.length>4"
                class="edit-button-position">
                Add Developer
              </button>

            </div>
            <div class="edit-field-error">
              <mat-error *ngIf="textOnlyError">Oops!... Enter Letters Only... </mat-error>

            </div>
          </form>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="example-element-row" mat-row *matRowDef="let element; columns: displayedColumns"
      [class.example-expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons>
  </mat-paginator>
</div>
